/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f39c12;
    box-shadow: inset -1px -1px 5px #222d32;
    border-radius: 5px;
  }

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    /* color: #fff; */
    /* background: dimgray; */
    font-family: 'Arial', sans-serif;
}

#bgContainer {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  #bgImage {
    background: url('../webroot/img/background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  

#login {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

#loginBtn, #signupBtn, #postBtn {
    width: 30%;
}
.content-wrapper {
    background: transparent !important;
}
.theme-button {
    /* background: #ff3300; */
    background: #f39c12;
    color: #fff;
}

#signupLink, #loginLink, #forgotLink {
    /* color: #ff3300; */
    color: #f39c12;
    text-decoration: underline!important;
}

.error-message {
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    color: #fff;
    background: #dd4b39 !important;
}
.error-message ul {
    display: inline;
}